Bikes/Client/Connected Services/BikesServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBikes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBikes_GetBikesTown_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBikesTown" />
  </wsdl:message>
  <wsdl:message name="IServiceBikes_GetBikesTown_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBikesTownResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBikes_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IServiceBikes_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBikes_GetStationsCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsCity" />
  </wsdl:message>
  <wsdl:message name="IServiceBikes_GetStationsCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsCityResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBikes">
    <wsdl:operation name="GetBikesTown">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBikes/GetBikesTown" message="tns:IServiceBikes_GetBikesTown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBikes/GetBikesTownResponse" message="tns:IServiceBikes_GetBikesTown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBikes/GetCities" message="tns:IServiceBikes_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBikes/GetCitiesResponse" message="tns:IServiceBikes_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBikes/GetStationsCity" message="tns:IServiceBikes_GetStationsCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBikes/GetStationsCityResponse" message="tns:IServiceBikes_GetStationsCity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBikes" type="tns:IServiceBikes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBikesTown">
      <soap:operation soapAction="http://tempuri.org/IServiceBikes/GetBikesTown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/IServiceBikes/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsCity">
      <soap:operation soapAction="http://tempuri.org/IServiceBikes/GetStationsCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBikes">
    <wsdl:port name="BasicHttpBinding_IServiceBikes" binding="tns:BasicHttpBinding_IServiceBikes">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Bikes/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>